<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Staj Takip Sistemi</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../plugins/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../plugins/assets/css/font-awesome.css">

    <link rel="stylesheet" href="../plugins/assets/css/templatemo-softy-pinko.css">

</head>

<body class="deneme">

    <!-- ***** Preloader Start ***** -->
    <div id="preloader" class="welcome-area">
        <div class="jumper">
            <h1></h1>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">,
                        <strong>
                            <font size="6" ;style="font-family:courier,arial,helvetica">STAJ TAKİP SİSTEMİ HOŞGELDİNİZ
                            </font>
                        </strong>

                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                            data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="../plugins/assets/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title"> <a href="index/studentlogin">ÖGRENCİ</a></h5>

                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                            data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="../plugins/assets/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title"> <a href="index/internshiplogin">STAJ SORUMLUSU</a></h5>

                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                            data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="../plugins/assets/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title"><a href="index/loginCompany">FİRMA</a></h5>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->


    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2022 </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../plugins/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="../plugins/assets/js/popper.js"></script>
    <script src="../plugins/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="../plugins/assets/js/scrollreveal.min.js"></script>
    <script src="../plugins/assets/js/waypoints.min.js"></script>
    <script src="../plugins/assets/js/jquery.counterup.min.js"></script>
    <script src="../plugins/assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="../plugins/assets/js/custom.js"></script>

</body>

</html>